@use '../../styles/variables' as *;
@use '../../styles/placeholder' as *;

.navbarStyling{
    width: 100%;
    height: 90px;
    margin: auto;
    background-image: url('../../assets/images/slide1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

    ul{
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
        gap: 4px;
        align-items: center;
        justify-content: center;

        li{
            list-style-type: none;
            color: $color-white;

            h1{
                text-align: center;
                font-size: $font-lg;
                @extend %lobster;
                
            }

            //NAVLINK
            a{
                text-decoration: none;
                color: $color-white;
                font-weight: 100;
                @extend %openSans;
            }
        }
    }
}